.screen1{
  height: 736px;
  width: 100%;
  //overflow: hidden;
  position: relative;
  z-index: 0;
  background: #44acdb;

  .owl-stage-outer{

    .item{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }
  }
}